<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Tarefas</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-dark text-light">
    <div class="container p-5px vh-100">
      <%- include('partials/nav') %>
      <h1 class="mt-5"><%= list.description %></h1>
      <form action="/app/<%= list.id %>/nova-tarefa" method="post">
        <div class="d-flex mb-3">
          <input
            name="description"
            type="text"
            class="form-control rounded-end-0 border-end-0 bg-dark text-light placeholder-white"
            placeholder="Adicionar nova tarefa..."
            required
          />

          <button
            type="submit"
            class="btn btn-primary rounded-start-0 border-light border-start-0"
          >
            Adicionar
          </button>
        </div>
      </form>
      <ul class="list-group">
        <% list.listItems.forEach((item) => { %>
        <li
          class="list-group-item text-light d-flex justify-content-between align-items-center <%= item.confirmed ? 'bg-success' : 'bg-dark' %>"
          style="height: 56px"
        >
          <p class="m-0"><%= item.description %></p>

          <% if (!item.confirmed) { %>
          <form
            action="/app/<%= list.id %>/confirm/<%= item.id %>"
            method="post"
          >
            <button type="submit" class="btn btn-success">Confirmar</button>
          </form>
          <% } else {%>
          <form action="/app/<%= list.id %>/undo/<%= item.id %>" method="post">
            <button type="submit" class="btn btn-danger">Desfazer</button>
          </form>
          <% } %>
        </li>
        <% }) %>
      </ul>

      <a href="/app" class="btn btn-secondary mt-3"
        >Voltar para todas as listas</a
      >
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
